
<div class="row">
	<div id="sidebar" class="span3">
		<%=render 'partials/categories'%>
	  	<%=render 'partials/discount'%>
	  	<%=render 'partials/payment_methods'%>
		<%=render 'partials/upcomming_products'%>
	</div>
	<div class="span9">
		<%=render 'partials/slider'%>

		<%=render 'partials/new_products'%>
		<%=render 'partials/feature_products'%>
	
	<div class="well well-small">
	<a class="btn btn-mini pull-right" href="#">View more <span class="icon-plus"></span></a>
	Popular Products 
	</div>
	<hr>
	<div class="well well-small">
	<a class="btn btn-mini pull-right" href="#">View more <span class="icon-plus"></span></a>
	Best selling Products 
	</div>
	</div>
</div>
<%=render 'partials/clients'%>